body {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    background-color: #000;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpaperaccess.com/full/4839802.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80%;
}

.quote-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.quote {
    font-size: 3rem;
    margin-bottom: 20px;
}

.quote-details p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.quote-details strong {
    color: #ff4500;
}
.movie {
    font-size: 1.5rem;
    font-style: italic;
}

#new-quote-btn {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Bebas Neue', sans-serif;
}

#new-quote-btn:hover {
    background-color: #e03e00;
}
